.container-AboutTreeLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vh 0;
}

.title-AboutTreeLink h1{
    text-align: center;
    font-size: 64px;
    margin: 3rem;
}
.title-AboutTreeLink span{
    color: #15FF8A;
}

.title-AboutTreeLink p{
    font-size: 24px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.img-AboutTreeLink{
    width: 30%;
}

.img-AboutTreeLink img{
    width: 100%;
    border-radius: 60px;
    animation: float 4s ease-in-out infinite;

    .float {
        animation: float 4s ease-in-out infinite;
    }

}
.img-AboutTreeLink{
    animation: float 4s ease-in-out infinite;

}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}
.main-AboutTreeLink{
    display: flex;
    padding: 1rem 0;
    flex-direction: row;
    padding: 0rem;
    justify-content: center;
    justify-content: center;
    gap: 5%;
    align-items: center;
    padding: 4rem 0 5rem 0;
}

.main-AboutTreeLink p{
    font-size: 24px;
}

.divider {
  border: none;
  height: 2px;    
  width: 150px;            
  background-color: #ccc;  
  margin: 40px auto;        
  border-radius: 2px;
}